# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'la-capsule' : 10853,
'app-academy' : 10525,
'springboard' : 11035,
'metis' : 10886,
'practicum-by-yandex' : 11225,
'le-wagon' : 10868,
'academia-de-codigo' :10494 ,
'react-graphql-academy' : 10972
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [2]:
# could you write this as a list comprehension? ;)
# comments = []

# for school in schools.keys():
#    print(school)
#    comments.append(get_comments_school(school))
    
comments = [get_comments_school(key) for key in schools.keys()]

comments = pd.concat(comments)
comments.sample(50)

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
673,240929,Alec Plehn,False,Software Engineering,2018.0,True,None,Amazing experience at Ironhack,"<span class=""truncatable""><p>If you want to st...",If you want to start programming but dont know...,...,2018-04-11,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,If you want to start programming but dont know...,ironhack
379,256160,Sergui Morejón,False,Software Engineering,2019.0,False,None,Ironhack change my life !,"<span class=""truncatable""><p>I remember when I...","I remember when I emigrated here to the US, an...",...,2019-10-07,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"I remember when I emigrated here to the US, an...",ironhack
562,244853,Jackson,False,Software Engineering,2018.0,True,Software Developer,"Had no coding experience before, now I'm a web...","<span class=""truncatable""><p>Before App Academ...","Before App Academy, all I knew was that I want...",...,2018-09-24,Software Engineer Track: In-Person,{'image': None},5.0,[],5.0,5.0,5.0,"Before App Academy, all I knew was that I want...",app-academy
99,268230,hans cameus,False,None,2020.0,False,,Amazing experience ..,"<span class=""truncatable""><p></p><p>I followed...",<p>I followed a first training named Simplon w...,...,2020-09-04,,{'image': None},5.0,[],5.0,5.0,5.0,I followed a first training named Simplon whic...,la-capsule
116,273517,Emily Paul,False,None,2021.0,False,Product Designer,Believe the hype,"<span class=""truncatable""><p></p><p>My experie...",<p>My experience with Springboard has been tre...,...,2021-02-09,UX Career Track,{'image': None},5.0,[],5.0,5.0,5.0,My experience with Springboard has been tremen...,springboard
1720,260992,Camille Franceschi,False,Full-Stack Web Development,2017.0,None,None,Amazing experience,"<span class=""truncatable""><p>After 2.5 years w...","After 2.5 years working in M&A, I was looking ...",...,2017-10-04,FullStack program,{'image': None},5.0,[],5.0,5.0,5.0,"After 2.5 years working in M&amp;A, I was look...",le-wagon
405,264904,Jules Ronne,False,Software Engineering,2020.0,False,,Best pedagogic experience I’ve ever had,"<span class=""truncatable""><p>After a Master de...",After a Master degree in digital project manag...,...,2020-05-24,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,After a Master degree in digital project manag...,le-wagon
23,272680,Ariane Gaudeaux,False,None,2021.0,True,UX/UI Designer,Just MAGICAL!,"<span class=""truncatable""><p></p><p>Although i...","<p>Although it was remote, it was just MAGICAL...",...,2021-01-22,,{'image': None},5.0,[],5.0,5.0,5.0,"Although it was remote, it was just MAGICAL. I...",ironhack
397,264274,Taylor Brightwell,False,Digital Marketing,2019.0,False,,Mentorship and practice for the win,"<span class=""truncatable""><p>What set's the Sp...",What set's the Springboard Digital Marketing c...,...,2020-05-05,Digital Marketing Career Track,{'image': None},4.0,[],4.0,3.0,5.0,What set's the Springboard Digital Marketing c...,springboard
1175,246374,Kaylin Bittner,False,Software Engineering,2018.0,True,None,Le Wagon was wonderful experience and continue...,"<span class=""truncatable""><p>After attending L...","After attending Le Wagon, you are limited only...",...,2019-01-08,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"After attending Le Wagon, you are limited only...",le-wagon
680,258830,Terri Hounsom,False,Software Engineering,2019.0,False,None,Life-changing - highly recommend Le Wagon London!,"<span class=""truncatable""><p></p><p>I had no t...",<p>I had no technical background or experience...,...,2019-11-16,,{'image': None},5.0,[],5.0,5.0,5.0,I had no technical background or experience at...,le-wagon
1910,234730,Jonathan,False,None,2016.0,True,Développeur,Le wagon : un tournant à 180°.,"<span class=""truncatable""><p>Géophysicien fraî...","Géophysicien fraîchement diplômé, je me suis t...",...,2016-09-29,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"Géophysicien fraîchement diplômé, je me suis t...",le-wagon
22,275685,Taten Knight,False,None,2021.0,True,,Awesome Learning Experience!,"<span class=""truncatable""><p></p><p>This progr...",<p>This program is great! It has a modern curr...,...,2021-04-09,Software Engineer Track: Online,{'image': None},5.0,[],5.0,5.0,NaN,This program is great! It has a modern curricu...,app-academy
913,250543,Iris,False,Software Engineering,2019.0,True,None,A great way to learn web development,"<span class=""truncatable""><p>Coming from a non...","Coming from a non-tech background, I tried lea...",...,2019-07-05,FullStack program - 35+ locations,{'image': None},4.7,[],5.0,5.0,4.0,"Coming from a non-tech background, I tried lea...",le-wagon
820,254386,Thomas,False,Software Engineering,2019.0,True,None,Life changing experience,"<span class=""truncatable""><p>In the early year...","In the early years of my studies, I was in a b...",...,2019-09-11,None,{'image': None},5.0,[],5.0,5.0,5.0,"In the early years of my studies, I was in a b...",le-wagon
858,252238,Anonymous,True,Software Engineering,2018.0,True,Software Engineer,An accelerated first step for anyone committed...,"<span class=""truncatable""><p>For anyone commit...",For anyone committed to seriously challenging ...,...,2019-08-03,FullStack program - 35+ locations,{'image': None},4.5,[],4.0,5.0,NaN,For anyone committed to seriously challenging ...,le-wagon
302,266487,Anastasiia Makarova,False,Software Engineering,2020.0,False,,Valuable experience,"<span class=""truncatable""><p>For some reason I...",For some reason I decided to change my profess...,...,2020-07-17,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,For some reason I decided to change my profess...,le-wagon
253,268408,Sascha Antonio Montero Balevich,False,None,2020.0,True,,Bad,"<span class=""truncatable""><p>Got thrown out of...",Got thrown out of the bootcamp for not underst...,...,2020-09-12,Web Development Course - Full-Time,{'image': None},1.0,"[{'name': 'Le Wagon Team', 'email': 'gus@lewag...",1.0,1.0,1.0,Got thrown out of the bootcamp for not underst...,le-wagon
335,265962,Dan Howitt,False,Software Engineering,2020.0,False,,"Amazing experience, incredible teaching, and d...","<span class=""truncatable""><p>Excellent bootcam...","Excellent bootcamp. Le Wagon's slogan ""change ...",...,2020-07-01,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,"Excellent bootcamp. Le Wagon's slogan ""change ...",le-wagon
673,247377,Craig Paulette,False,Data Science,2019.0,True,None,Look closely at this one,"<span class=""truncatable""><p>Everyone has diff...","Everyone has different needs, so definitely ma...",...,2019-03-22,Data Science Career Track,{'image': None},5.0,[],5.0,5.0,5.0,"Everyone has different needs, so definitely ma...",springboard
825,254154,Emma LAURENT,False,Software Engineering,2019.0,True,None,Great experience @ Le Wagon Bordeaux,"<span class=""truncatable""><p>I joined batch #2...","I joined batch #276 in Bordeaux, France, and I...",...,2019-09-11,None,{'image': None},5.0,[],5.0,5.0,NaN,"I joined batch #276 in Bordeaux, France, and I...",le-wagon
853,237135,LeoL,False,None,2017.0,True,None,Get Ready!!,"<span class=""truncatable""><p>So, coming from a...","So, coming from a background in art, everythin...",...,2017-08-09,Bootcamp Prep,{'image': None},4.3,[],5.0,4.0,4.0,"So, coming from a background in art, everythin...",app-academy
833,253734,Santiago,False,Software Engineering,2019.0,True,None,Great in so many ways!,"<span class=""truncatable""><p>More than a bootc...","More than a bootcamp. \r\n\r\nHard, challengin...",...,2019-08-26,None,{'image': None},5.0,[],5.0,NaN,NaN,"More than a bootcamp. Hard, challenging, it ta...",le-wagon
890,236304,David Wong,False,None,2017.0,True,None,"It's hard and not for everyone, but if you mak...","<span class=""truncatable""><p>This stuff is tou...",This stuff is tough. It's going to take a lot ...,...,2017-06-01,Software Engineer Track: In-Person,{'image': None},4.7,[],5.0,4.0,5.0,This stuff is tough. It's going to take a lot ...,app-academy
651,259906,Simon Stefanelli,False,None,2019.0,False,None,Great time discovering web development,"<span class=""truncatable""><p></p><p>I went to ...",<p>I went to Le Wagon after a freelance period...,...,2019-12-16,,{'image': None},5.0,[],5.0,5.0,5.0,I went to Le Wagon after a freelance periode b...,le-wagon
534,234694,Manuel Alejandro Matus de Quevedo,False,Software Engineering,2018.0,True,Web Content Analyst,The best experience ever!,"<p>It was definitely the best experience, not ...","It was definitely the best experience, not jus...",...,2018-10-17,Part-time Web Development,{'image': None},5.0,[],5.0,5.0,5.0,"It was definitely the best experience, not jus...",ironhack
5,276802,Noah Jaffe,False,None,2020.0,False,Data analyst,Metis was instrumental in getting me my first ...,"<span class=""truncatable""><p></p><p>The setup ...","<p>The setup of Metis was rigorous, with an ac...",...,2021-05-08,Data Science & Machine Learning Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,"The setup of Metis was rigorous, with an accel...",metis
898,250701,Ruben den Hollander,False,Software Engineering,2019.0,True,None,Great Coding Bootcamp,"<span class=""truncatable""><p>After researching...",After researching many coding bootcamps and fo...,...,2019-07-13,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,After researching many coding bootcamps and fo...,le-wagon
23,276492,Charles,False,None,2021.0,False,Front End Developer,Impressive !,"<span class=""truncatable""><p></p><p>Hi, my nam...","<p>Hi, my name is Charles ! I am 27 and I was ...",...,2021-04-28,Web Development Course - Full-Time,{'image': None},5.0,[],5.0,5.0,5.0,"Hi, my name is Charles ! I am 27 and I was a M...",le-wagon
1211,238603,Martinho,False,Software Engineering,2018.0,True,None,"Thank you very much, guys!",<p>Amazing. Great environment and resources. I...,Amazing. Great environment and resources. I th...,...,2018-11-29,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,Amazing. Great environment and resources. I th...,le-wagon
551,254662,Daniel Duncum,False,None,2019.0,True,None,Springboard intro to data analysis,"<p><p>Very well managed program, teaches you t...","<p>Very well managed program, teaches you the ...",...,2019-09-16,,{'image': None},5.0,[],5.0,5.0,5.0,"Very well managed program, teaches you the ins...",springboard
211,263855,Bart Weber,False,UX/UI Design,2020.0,False,,An intensive 9 week course filled with non-sto...,"<span class=""truncatable""><p>The teachers and ...",The teachers and teaching assistants are extre...,...,2020-04-24,UX/UI Design Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,The teachers and teaching assistants are extre...,ironhack
491,245848,Miguel,False,Software Engineering,2018.0,True,None,Best bootcamp experience,"<span class=""truncatable""><p>The Ironhack expe...",The Ironhack experience is tough but at the en...,...,2018-11-29,Full-time Web Development Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,The Ironhack experience is tough but at the en...,ironhack
371,257961,Daniela castro,False,UX/UI Design,2019.0,True,None,Além do esperado!,"<span class=""truncatable""><p>A experiência da ...",A experiência da formação é pensada de ponta a...,...,2019-10-22,Part-time UX/UI Design,{'image': None},4.7,[],5.0,4.0,5.0,A experiência da formação é pensada de ponta a...,ironhack
569,261152,Daria,False,Software Engineering,2019.0,False,None,Rio de Janeiro #330,"<span class=""truncatable""><p>Before Le Wagon I...",Before Le Wagon I used to work in sports marke...,...,2020-01-18,FullStack program,{'image': None},5.0,[],5.0,5.0,5.0,Before Le Wagon I used to work in sports marke...,le-wagon
990,251013,Alexis Dewerdt,False,Software Engineering,2019.0,True,None,"Le Wagon Lyon, batch #218","<span class=""truncatable""><p>The experience wa...",The experience was short but intense. I am imp...,...,2019-05-07,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,The experience was short but intense. I am imp...,le-wagon
538,261881,Cecilia Marcellesi,False,Software Engineering,2019.0,False,None,By far the best decision I've made,"<span class=""truncatable""><p>After completing ...",After completing a Business degree at Universi...,...,2020-02-12,FullStack program,{'image': None},5.0,[],5.0,5.0,5.0,After completing a Business degree at Universi...,le-wagon
1736,238377,Florent LIENARD,False,None,2017.0,True,None,Best investment so far,"<span class=""truncatable""><p>Hi, I am Florent ...","Hi, I am Florent and I’ve been studying at le ...",...,2017-09-29,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"Hi, I am Florent and I’ve been studying at le ...",le-wagon
725,257743,Pietro,False,Software Engineering,2019.0,False,None,Great Bootcamp,"<span class=""truncatable""><p>I really enjoyed ...",I really enjoyed my 9 weeks at Le Wagon. I fee...,...,2019-10-16,FullStack program,{'image': None},5.0,[],5.0,5.0,5.0,I really enjoyed my 9 weeks at Le Wagon. I fee...,le-wagon
498,263081,Iram,False,Software Engineering,2020.0,False,None,The best experience!,"<span class=""truncatable""><p>I joined Le Wagon...",I joined Le Wagon in 2020. It was a tough 9 we...,...,2020-03-30,FullStack program,{'image': None},5.0,[],5.0,5.0,5.0,I joined Le Wagon in 2020. It was a tough 9 we...,le-wagon
704,258190,Eugénie Inbona,False,Software Engineering,2019.0,False,None,"Work hard, play hard","<span class=""truncatable""><p></p><p>You do not...",<p>You do not learn to read and write to becom...,...,2019-10-28,,{'image': None},5.0,[],5.0,5.0,5.0,You do not learn to read and write to become a...,le-wagon
1268,245233,Frédéric Curier,False,Software Engineering,2018.0,True,Full-stack web Dev,"Le Wagon, Great experience","<span class=""truncatable""><p>As a serial entre...","As a serial entrepreneur, I have always been k...",...,2018-10-12,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"As a serial entrepreneur, I have always been k...",le-wagon
1556,235517,Alexander Clapp,False,Software Engineering,2018.0,False,Entrepreneur,Le Wagon exceeded my expectations,"<span class=""truncatable""><p>Prior to starting...",Prior to starting my MBA at INSEAD i wanted to...,...,2018-04-04,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,NaN,Prior to starting my MBA at INSEAD i wanted to...,le-wagon
1519,232510,Irina Popa,False,Software Engineering,2018.0,True,None,Le Wagon Lisbon Batch#122 - An amazing experience,"<span class=""truncatable""><p>Before joining Le...","Before joining Le Wagon, I had never had a rel...",...,2018-04-20,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,"Before joining Le Wagon, I had never had a rel...",le-wagon
288,268204,Polina Maguire,False,None,2020.0,False,UX Designer,Highly recommended for those who are changing ...,"<span class=""truncatable""><p>It took me longer...",It took me longer than the estimated 6-8 month...,...,2020-09-03,UX Career Track,{'image': None},5.0,[],5.0,5.0,NaN,It took me longer than the estimated 6-8 month...,springboard
1270,245198,David Carr-Gregg,False,Software Engineering,2018.0,True,Junior Developer,Jump of le Wagon!!,"<span class=""truncatable""><p>If your looking t...",If your looking to pull the trigger and commit...,...,2018-10-11,FullStack program - 35+ locations,{'image': None},5.0,[],5.0,5.0,5.0,If your looking to pull the trigger and commit...,le-wagon
872,240371,Omar Al-Naimi,False,None,2017.0,True,None,Spring board knows how teach data science,"<span class=""truncatable""><p>I took Data Scien...",I took Data Science Career Track course after ...,...,2017-12-06,Data Science Career Track,{'image': None},5.0,[],5.0,5.0,5.0,I took Data Science Career Track course after ...,springboard
821,241752,Ritesh Patel,False,UX/UI Design,2018.0,True,None,Enjoyed the UX design course.,<p>UX design course with springboard was amazi...,"UX design course with springboard was amazing,...",...,2018-07-26,UX Design,{'image': None},5.0,[],5.0,5.0,NaN,"UX design course with springboard was amazing,...",springboard
499,259211,Kristen Colley,False,Data Science,2019.0,False,None,AWESOME experience,"<span class=""truncatable""><p>Seriously, Spring...","Seriously, Springboard got the job done.\r\n\r...",...,2019-11-25,Data Science Career Track,{'image': None},4.0,[],5.0,2.0,5.0,"Seriously, Springboard got the job done.Excell...",springboard
687,236987,Laurette,False,Software Engineering,2018.0,True,None,"Super fast, super fun","<span class=""truncatable""><p>I attended App Ac...",I attended App Academy in early 2018. Unlike m...,...,2018-03-18,Software Engineer Track: In-Person,{'image': None},4.7,[],5.0,5.0,4.0,I attended App Academy in early 2018. Unlike m...,app-academy

In [3]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

<ipython-input-3-7111c633f1e2>:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  locations_df = json_normalize(locations)

la-capsule
app-academy
springboard
metis
practicum-by-yandex
le-wagon
academia-de-codigo
react-graphql-academy

In [29]:
locations_list

[      id               description  country.id   country.name country.abbrev  \
 0  15901           Berlin, Germany        57.0        Germany             DE
 1  16022       Mexico City, Mexico        29.0         Mexico             MX
 2  16086    Amsterdam, Netherlands        59.0    Netherlands             NL
 3  16088         Sao Paulo, Brazil        42.0         Brazil             BR
 4  16109             Paris, France        38.0         France             FR
 5  16375  Miami, FL, United States         1.0  United States             US
 6  16376             Madrid, Spain        12.0          Spain             ES
 7  16377          Barcelona, Spain        12.0          Spain             ES
 8  16709          Lisbon, Portugal        28.0       Portugal             PT
 9  17233                    Online         NaN            NaN            NaN

    city.id    city.name city.keyword  state.id state.name state.abbrev  \
 0  31156.0       Berlin       berlin       NaN        NaN          NaN
 1  31175.0  Mexico City  mexico-city       NaN        NaN          NaN
 2  31168.0    Amsterdam    amsterdam       NaN        NaN          NaN
 3  31121.0    Sao Paulo    sao-paulo       NaN        NaN          NaN
 4  31136.0        Paris        paris       NaN        NaN          NaN
 5     31.0        Miami        miami      11.0    Florida           FL
 6  31052.0       Madrid       madrid       NaN        NaN          NaN
 7  31170.0    Barcelona    barcelona       NaN        NaN          NaN
 8  31075.0       Lisbon       lisbon       NaN        NaN          NaN
 9      NaN          NaN          NaN       1.0     Online       Online

   state.keyword    school  school_id
 0           NaN  ironhack      10828
 1           NaN  ironhack      10828
 2           NaN  ironhack      10828
 3           NaN  ironhack      10828
 4           NaN  ironhack      10828
 5       florida  ironhack      10828
 6           NaN  ironhack      10828
 7           NaN  ironhack      10828
 8           NaN  ironhack      10828
 9        online  ironhack      10828  ,
       id        description  country.id country.name country.abbrev  city.id  \
 0  15863      Paris, France          38       France             FR    31136
 1  17050       Lyon, France          38       France             FR    31106
 2  17450  Marseille, France          38       France             FR    31129

    city.name city.keyword      school  school_id
 0      Paris        paris  la-capsule      10853
 1       Lyon         lyon  la-capsule      10853
 2  Marseille    marseille  la-capsule      10853  ,
       id                       description  country.id   country.name  \
 0  15704  San Francisco, CA, United States         1.0  United States
 1  15705  New York City, NY, United States         1.0  United States
 2  15862                            Online         NaN            NaN

   country.abbrev  state.id  state.name state.abbrev state.keyword  city.id  \
 0             US         6  California           CA    california     13.0
 1             US        34    New York           NY      new-york   1507.0
 2            NaN         1      Online       Online        online      NaN

        city.name   city.keyword       school  school_id
 0  San Francisco  san-francisco  app-academy      10525
 1            NYC  new-york-city  app-academy      10525
 2            NaN            NaN  app-academy      10525  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  16013      Online         1     Online       Online        online

         school  school_id
 0  springboard      11035  ,
       id           description  country.id   country.name country.abbrev  \
 0  15718     New York City, NY         1.0  United States             US
 1  16079     San Francisco, CA         1.0  United States             US
 2  16081                Online         NaN            NaN            NaN
 3  16263           Chicago, IL         1.0  United States             US
 4  16278           Seattle, WA         1.0  United States             US
 5  16803  Singapore, Singapore        56.0      Singapore             SG

    state.id  state.name state.abbrev state.keyword  city.id      city.name  \
 0      34.0    New York           NY      new-york   1507.0            NYC
 1       6.0  California           CA    california     13.0  San Francisco
 2       1.0      Online       Online        online      NaN            NaN
 3      15.0    Illinois           IL      illinois     39.0        Chicago
 4      49.0  Washington           WA    washington     97.0        Seattle
 5       NaN         NaN          NaN           NaN  31154.0      Singapore

     city.keyword school  school_id
 0  new-york-city  metis      10886
 1  san-francisco  metis      10886
 2            NaN  metis      10886
 3        chicago  metis      10886
 4        seattle  metis      10886
 5      singapore  metis      10886  ,
       id description  state.id state.name state.abbrev state.keyword  \
 0  17154      Online         1     Online       Online        online

                 school  school_id
 0  practicum-by-yandex      11225  ,
        id                  description  country.id          country.name  \
 0   15803         Melbourne, Australia          20             Australia
 1   15904          Casablanca, Morocco          44               Morocco
 2   15906      Buenos Aires, Argentina          60             Argentina
 3   15964            Brussels, Belgium          46               Belgium
 4   15979                 Milan, Italy          39                 Italy
 5   15996               Chengdu, China          15                 China
 6   16039          Mexico City, Mexico          29                Mexico
 7   16049       Amsterdam, Netherlands          59           Netherlands
 8   16106            Sao Paulo, Brazil          42                Brazil
 9   16124             Barcelona, Spain          12                 Spain
 10  16145             Bordeaux, France          38                France
 11  16146          Copenhagen, Denmark          47               Denmark
 12  16147                Lille, France          38                France
 13  16148             Lisbon, Portugal          28              Portugal
 14  16149              Bali, Indonesia          35             Indonesia
 15  16150               Nantes, France          38                France
 16  16274      Rio de Janeiro , Brazil          42                Brazil
 17  16275            Marseille, France          38                France
 18  16282             Montreal, Canada           2                Canada
 19  16283              Shanghai, China          15                 China
 20  16307       Belo Horizonte, Brazil          42                Brazil
 21  16407                 Tokyo, Japan          48                 Japan
 22  16408                 Lyon, France          38                France
 23  16478             Tel Aviv, Israel           5                Israel
 24  16570                 Kyoto, Japan          48                 Japan
 25  16765              Berlin, Germany          57               Germany
 26  16767                Paris, France          38                France
 27  16775              Shenzhen, China          15                 China
 28  16776        Lausanne, Switzerland          32           Switzerland
 29  16800                Madrid, Spain          12                 Spain
 30  16804                 Oslo, Norway          52                Norway
 31  16805               Rennes, France          38                France
 32  16936         Singapore, Singapore          56             Singapore
 33  16967              London, England          61               England
 34  16968                  Rome, Italy          39                 Italy
 35  17128            Stockholm, Sweden          37                Sweden
 36  17129                 Seoul, Korea          55           South Korea
 37  17157             Istanbul, Turkey         237                Turkey
 38  17188              Toronto, Canada           2                Canada
 39  17314  Dubai, United Arab Emirates          34  United Arab Emirates
 40  17395              Munich, Germany          57               Germany
 41  17476              Santiago, Chile          22                 Chile
 42  17732       Saint Pierre, Mauritus         171             Mauritius
 43  17765                 Nice, France          38                France
 44  17772             Cologne, Germany          57               Germany
 45  17835                   Lima, Peru         196                  Peru

    country.abbrev  city.id        city.name    city.keyword    school  \
 0              AU    31174        Melbourne       melbourne  le-wagon
 1              MA    31119       Casablanca      casablanca  le-wagon
 2              AR    31171     Buenos Aires    buenos-aires  le-wagon
 3              BE    31125         Brussels        brussels  le-wagon
 4              IT    31107            Milan           milan  le-wagon
 5              CN    31126          Chengdu         chengdu  le-wagon
 6              MX    31175      Mexico City     mexico-city  le-wagon
 7              NL    31168        Amsterdam       amsterdam  le-wagon
 8              BR    31121        Sao Paulo       sao-paulo  le-wagon
 9              ES    31170        Barcelona       barcelona  le-wagon
 10             FR    31124         Bordeaux        bordeaux  le-wagon
 11             DK    31127       Copenhagen      copenhagen  le-wagon
 12             FR    31128            Lille           lille  le-wagon
 13             PT    31075           Lisbon          lisbon  le-wagon
 14             ID    31169             Bali            bali  le-wagon
 15             FR    31130           Nantes          nantes  le-wagon
 16             BR    31131  Rio de Janeiro   rio-de-janeiro  le-wagon
 17             FR    31129        Marseille       marseille  le-wagon
 18             CA    31135         Montreal        montreal  le-wagon
 19             CN    31108         Shanghai        shanghai  le-wagon
 20             BR    31123   Belo Horizonte  belo-horizonte  le-wagon
 21             JP    31132            Tokyo           tokyo  le-wagon
 22             FR    31106             Lyon            lyon  le-wagon
 23             IL    31079         Tel Aviv        tel-aviv  le-wagon
 24             JP    31134            Kyoto           kyoto  le-wagon
 25             DE    31156           Berlin          berlin  le-wagon
 26             FR    31136            Paris           paris  le-wagon
 27             CN    31164         Shenzhen        shenzhen  le-wagon
 28             CH    31163         Lausanne        lausanne  le-wagon
 29             ES    31052           Madrid          madrid  le-wagon
 30             NO    31145             Oslo            oslo  le-wagon
 31             FR    31147           Rennes          rennes  le-wagon
 32             SG    31154        Singapore       singapore  le-wagon
 33             GB    31176           London          london  le-wagon
 34             IT    31180             Rome            rome  le-wagon
 35             SE    31109        Stockholm       stockholm  le-wagon
 36             KR    31151            Seoul            seol  le-wagon
 37             TR    31193         Istanbul        istanbul  le-wagon
 38             CA    31152          Toronto         toronto  le-wagon
 39             AE    31093            Dubai           dubai  le-wagon
 40             DE    31158           Munich          munich  le-wagon
 41             CL    31067         Santiago        santiago  le-wagon
 42             MU    31246     Saint Pierre    saint-pierre  le-wagon
 43             FR    31239             Nice            nice  le-wagon
 44             DE    31254          Cologne         cologne  le-wagon
 45             PE    31256             Lima            lima  le-wagon

     school_id
 0       10868
 1       10868
 2       10868
 3       10868
 4       10868
 5       10868
 6       10868
 7       10868
 8       10868
 9       10868
 10      10868
 11      10868
 12      10868
 13      10868
 14      10868
 15      10868
 16      10868
 17      10868
 18      10868
 19      10868
 20      10868
 21      10868
 22      10868
 23      10868
 24      10868
 25      10868
 26      10868
 27      10868
 28      10868
 29      10868
 30      10868
 31      10868
 32      10868
 33      10868
 34      10868
 35      10868
 36      10868
 37      10868
 38      10868
 39      10868
 40      10868
 41      10868
 42      10868
 43      10868
 44      10868
 45      10868  ,
       id                description  country.id country.name country.abbrev  \
 0  16627           Lisbon, Portugal          28     Portugal             PT
 1  16771            Porto, Portugal          28     Portugal             PT
 2  16798  Terceira Island, Portugal          28     Portugal             PT
 3  16801           Fundao, Portugal          28     Portugal             PT

    city.id        city.name     city.keyword              school  school_id
 0    31075           Lisbon           lisbon  academia-de-codigo      10494
 1    31102            Porto            porto  academia-de-codigo      10494
 2    31161  Terceira Island  terceira-island  academia-de-codigo      10494
 3    31140           Fundao           fundao  academia-de-codigo      10494  ,
       id             description  country.id    country.name country.abbrev  \
 0  15748         London, England        11.0  United Kingdom             GB
 1  16749        Lisbon, Portugal        28.0        Portugal             PT
 2  17023  Amsterdam, Netherlands        59.0     Netherlands             NL
 3  17242                  Online         NaN             NaN            NaN
 4  17251         Berlin, Germany        57.0         Germany             DE
 5  17252        Barcelona, Spain        12.0           Spain             ES

    city.id  city.name city.keyword  state.id state.name state.abbrev  \
 0  31176.0     London       london       NaN        NaN          NaN
 1  31075.0     Lisbon       lisbon       NaN        NaN          NaN
 2  31168.0  Amsterdam    amsterdam       NaN        NaN          NaN
 3      NaN        NaN          NaN       1.0     Online       Online
 4  31156.0     Berlin       berlin       NaN        NaN          NaN
 5  31170.0  Barcelona    barcelona       NaN        NaN          NaN

   state.keyword                 school  school_id
 0           NaN  react-graphql-academy      10972
 1           NaN  react-graphql-academy      10972
 2           NaN  react-graphql-academy      10972
 3        online  react-graphql-academy      10972
 4           NaN  react-graphql-academy      10972
 5           NaN  react-graphql-academy      10972  ]

In [4]:
locations = pd.concat(locations_list)

In [5]:
locations.sample(5)

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
1,16771,"Porto, Portugal",28.0,Portugal,PT,31102.0,Porto,porto,NaN,NaN,NaN,NaN,academia-de-codigo,10494
12,16147,"Lille, France",38.0,France,FR,31128.0,Lille,lille,NaN,NaN,NaN,NaN,le-wagon,10868
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
2,15906,"Buenos Aires, Argentina",60.0,Argentina,AR,31171.0,Buenos Aires,buenos-aires,NaN,NaN,NaN,NaN,le-wagon,10868
26,16767,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,le-wagon,10868

In [31]:
#courses = pd.concat(courses_list)
#courses.head(10)

In [7]:
badges_list

[                name            keyword  \
 0   Available Online   available_online
 1  Verified Outcomes  verified_outcomes
 2   Flexible Classes   flexible_classes

                                          description    school  school_id
 0          <p>School offers fully online courses</p>  ironhack      10828
 1  <p>School publishes a third-party verified out...  ironhack      10828
 2  <p>School offers part-time and evening classes...  ironhack      10828  ,
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes

                                          description      school  school_id
 0          <p>School offers fully online courses</p>  la-capsule      10853
 1  <p>School offers part-time and evening classes...  la-capsule      10853  ,
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes
 2     Job Guarantee     job_guarantee

                                          description       school  school_id
 0          <p>School offers fully online courses</p>  app-academy      10525
 1  <p>School offers part-time and evening classes...  app-academy      10525
 2             <p>School guarantees job placement</p>  app-academy      10525  ,
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes
 2     Job Guarantee     job_guarantee

                                          description       school  school_id
 0          <p>School offers fully online courses</p>  springboard      11035
 1  <p>School offers part-time and evening classes...  springboard      11035
 2             <p>School guarantees job placement</p>  springboard      11035  ,
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes

                                          description school  school_id
 0          <p>School offers fully online courses</p>  metis      10886
 1  <p>School offers part-time and evening classes...  metis      10886  ,
                name           keyword  \
 0  Available Online  available_online
 1     Job Guarantee     job_guarantee

                                  description               school  school_id
 0  <p>School offers fully online courses</p>  practicum-by-yandex      11225
 1     <p>School guarantees job placement</p>  practicum-by-yandex      11225  ,
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes

                                          description    school  school_id
 0          <p>School offers fully online courses</p>  le-wagon      10868
 1  <p>School offers part-time and evening classes...  le-wagon      10868  ,
 Empty DataFrame
 Columns: [school, school_id]
 Index: [],
                name           keyword  \
 0  Available Online  available_online
 1  Flexible Classes  flexible_classes

                                          description                 school  \
 0          <p>School offers fully online courses</p>  react-graphql-academy
 1  <p>School offers part-time and evening classes...  react-graphql-academy

    school_id
 0      10972
 1      10972  ]

In [9]:
badges_raw = pd.concat(badges_list)
badges_raw = badges_raw.drop_duplicates(subset=['name'])
badges_raw

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [10]:
# superstore.insert(0,'Profitable?',(superstore['Profit'].apply(profitable)))

def badges_m(row):
    if row == 'Available Online':
        return 1
    elif row == 'Verified Outcomes':
        return 2
    elif row == 'Flexible Classes':
        return 3
    elif row == 'Job Guarantee':
        return 4

In [11]:
badges_raw.insert(0,'badges_id',(badges_raw['name'].apply(badges_m)))

In [12]:
badges = badges_raw

In [13]:
badges

,badges_id,name,keyword,description,school,school_id
0,1,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,2,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,3,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
2,4,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525

In [14]:
badges.columns = ['badges_id','name','keyword','description','school','school_id']

In [15]:
clean_badges = badges[['badges_id','name']]

In [16]:
display(clean_badges)

   badges_id               name
0          1   Available Online
1          2  Verified Outcomes
2          3   Flexible Classes
2          4      Job Guarantee

In [17]:
clean_schools = locations[['school_id','school']]
clean_schools.columns = ['schools_id','name']
clean_schools = clean_schools.drop_duplicates(subset=['schools_id'])

In [18]:
clean_schools

   schools_id                   name
0       10828               ironhack
0       10853             la-capsule
0       10525            app-academy
0       11035            springboard
0       10886                  metis
0       11225    practicum-by-yandex
0       10868               le-wagon
0       10494     academia-de-codigo
0       10972  react-graphql-academy

In [25]:
sub_df = pd.concat(badges_list)
clean_badges_schools = sub_df[['name','school_id']]
clean_badges_schools = clean_badges_schools.merge(clean_badges,how='inner',on='name')
clean_badges_schools.insert(0,'school_badges_id',(range(1,20)))
clean_badges_schools = clean_badges_schools[['school_badges_id','school_id','badges_id']]
clean_badges_schools

    school_badges_id  school_id  badges_id
0                  1      10828          1
1                  2      10853          1
2                  3      10525          1
3                  4      11035          1
4                  5      10886          1
5                  6      11225          1
6                  7      10868          1
7                  8      10972          1
8                  9      10828          2
9                 10      10828          3
10                11      10853          3
11                12      10525          3
12                13      11035          3
13                14      10886          3
14                15      10868          3
15                16      10972          3
16                17      10525          4
17                18      11035          4
18                19      11225          4

In [28]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,...,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school
0,276568,Guilherme golabek brein,False,None,2018.0,False,Senior Associate,Improper billing,"<span class=""truncatable""><p></p><p>A year aft...","<p>A year after completing my course, ironhack...",...,2021-04-30,Web Development Part-Time,{'image': None},1.0,[],1.0,1.0,1.0,"A year after completing my course, ironhack co...",ironhack
1,276147,Charlotte Urvoy,False,None,2021.0,False,UX UI Designer,Riche et pragmatique,"<span class=""truncatable""><p></p><p>- La métho...",<p>- La m&eacute;thode d&#39;apprentissage est...,...,2021-04-20,UX/UI Design Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,- La méthode d'apprentissage est l'une des mei...,ironhack
2,275972,Anonymous,True,None,2021.0,False,,Amazing experience,"<span class=""truncatable""><p></p><p>the UX/UI ...",<p>the UX/UI bootcamp has been an amazing lear...,...,2021-04-17,UX/UI Design Bootcamp,{'image': None},4.0,[],5.0,4.0,3.0,the UX/UI bootcamp has been an amazing learnin...,ironhack
3,275872,Ahmad Khalaf,False,None,2021.0,False,Product Designer,Intense but good experience,"<span class=""truncatable""><p></p><p>When I sta...",<p>When I started I was a little disappointed ...,...,2021-04-15,UX/UI Design Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,When I started I was a little disappointed but...,ironhack
4,275855,Morgane Favchtein,False,None,2021.0,False,UX UI Designer,Very nice experience !,"<span class=""truncatable""><p></p><p>The UX UI ...",<p>The UX UI Design bootcamp is a great way to...,...,2021-04-14,UX/UI Design Bootcamp,{'image': None},4.3,[],5.0,4.0,4.0,The UX UI Design bootcamp is a great way to tr...,ironhack
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,238594,Tiago Gomes,False,Software Engineering,2018.0,True,Software Developer,A life change experience.,"<p>The curriculum is really good, we really di...","The curriculum is really good, we really dive ...",...,2018-11-26,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},5.0,[],5.0,5.0,5.0,"The curriculum is really good, we really dive ...",react-graphql-academy
30,245212,Peter McCarthy,False,None,2018.0,True,Front End Developer,ReactJS Academy part time course,"<p>Brilliant course, covers absolutely everyth...","Brilliant course, covers absolutely everything...",...,2018-11-23,"Part time React, Redux and GraphQL",{'image': None},5.0,[],5.0,5.0,NaN,"Brilliant course, covers absolutely everything...",react-graphql-academy
31,245192,Polly S,False,Software Engineering,2018.0,True,Frontend engineer,Great intense week of learning and practice,"<span class=""truncatable""><p>A week of encapsu...","A week of encapsulated learning, lots of infor...",...,2018-11-23,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},4.7,[],5.0,4.0,5.0,"A week of encapsulated learning, lots of infor...",react-graphql-academy
32,238091,Francisco Gomes,False,Software Engineering,2018.0,True,Web Developer,Totally worth it!,"<span class=""truncatable""><p>I've attended 1-w...","I've attended 1-week in Lisbon, 1-week in Lond...",...,2018-11-07,"1 Week React, Redux & GraphQL Bootcamp",{'image': None},5.0,[],5.0,5.0,5.0,"I've attended 1-week in Lisbon, 1-week in Lond...",react-graphql-academy
33,238051,Anonymous,True,None,2017.0,True,Freelance Designer / Developer,Amazing Workshops!!!,<p>Awesome Mentors!You can boost your knowledg...,Awesome Mentors!You can boost your knowledge i...,...,2017-12-21,None,{'image': None},5.0,[],5.0,5.0,5.0,Awesome Mentors!You can boost your knowledge i...,react-graphql-academy

In [44]:
sub_df2 = clean_schools.rename(columns={'name':'school'})
clean_comments = comments.merge(sub_df2, how='inner', on='school')
display(clean_comments.columns)
to_drop = ['anonymous', 'hostProgramName', 'graduatingYear','jobTitle', 'tagline', 'body', 'rawBody', 'createdAt',
       'queryDate', 'user', 'comments', 'review_body','school']
clean_comments.drop(to_drop, inplace=True,axis=1)
clean_comments = clean_comments.fillna(0)
clean_comments['overall'] = clean_comments['overall'].apply(lambda x : float(x))
clean_comments['overallScore'] = clean_comments['overallScore'].apply(lambda x : float(x))
clean_comments['curriculum'] = clean_comments['curriculum'].apply(lambda x : float(x))
clean_comments['jobSupport'] = clean_comments['jobSupport'].apply(lambda x : float(x))

Index(['id', 'name', 'anonymous', 'hostProgramName', 'graduatingYear',
       'isAlumni', 'jobTitle', 'tagline', 'body', 'rawBody', 'createdAt',
       'queryDate', 'program', 'user', 'overallScore', 'comments', 'overall',
       'curriculum', 'jobSupport', 'review_body', 'school', 'schools_id'],
      dtype='object')

,id,name,isAlumni,program,overallScore,overall,curriculum,jobSupport,schools_id
1822,232079,Timmy Jing,True,0,5.0,5.0,5.0,0.0,10525
1776,244245,Brandon Woodruff,True,Software Engineer Track: In-Person,5.0,5.0,5.0,5.0,10525
459,246547,Anna Antràs Marti,True,Full-time UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,10828
4177,255062,Joe,True,0,4.7,5.0,5.0,4.0,10868
1180,250895,Benoit,True,0,5.0,5.0,5.0,5.0,10853
2907,247814,Engin Turkmen,True,Data Science Career Track,5.0,5.0,5.0,5.0,11035
4768,244295,Irvin,True,FullStack program - 35+ locations,5.0,5.0,5.0,0.0,10868
3080,244799,Prashaanth Jagannathan,True,0,4.7,5.0,5.0,4.0,11035
131,265376,Mathias Gautier,False,Web Development Bootcamp,5.0,5.0,5.0,5.0,10828
4277,250707,Dan A,True,FullStack program - 35+ locations,5.0,5.0,5.0,0.0,10868

In [45]:
locations_clean = locations.copy()
to_drop = ['description','country.id','country.abbrev','city.id','city.keyword','state.id','state.name','state.abbrev','state.keyword']
locations_clean.drop(to_drop,inplace=True,axis=1,)
locations_clean.rename(columns = {'id':'location_id','country.name':'country','city.name':'city'}, inplace = True)

In [46]:
clean_locations = locations_clean
clean_locations = clean_locations.fillna('Online')

In [49]:
clean_locations = clean_locations[['location_id','country','city','school_id']]

In [50]:
display(clean_schools)
display(clean_badges)
display(clean_badges_schools)
display(clean_comments)
display(clean_locations)

   schools_id                   name
0       10828               ironhack
0       10853             la-capsule
0       10525            app-academy
0       11035            springboard
0       10886                  metis
0       11225    practicum-by-yandex
0       10868               le-wagon
0       10494     academia-de-codigo
0       10972  react-graphql-academy

   badges_id               name
0          1   Available Online
1          2  Verified Outcomes
2          3   Flexible Classes
2          4      Job Guarantee

    school_badges_id  school_id  badges_id
0                  1      10828          1
1                  2      10853          1
2                  3      10525          1
3                  4      11035          1
4                  5      10886          1
5                  6      11225          1
6                  7      10868          1
7                  8      10972          1
8                  9      10828          2
9                 10      10828          3
10                11      10853          3
11                12      10525          3
12                13      11035          3
13                14      10886          3
14                15      10868          3
15                16      10972          3
16                17      10525          4
17                18      11035          4
18                19      11225          4

,id,name,isAlumni,program,overallScore,overall,curriculum,jobSupport,schools_id
0,276568,Guilherme golabek brein,False,Web Development Part-Time,1.0,1.0,1.0,1.0,10828
1,276147,Charlotte Urvoy,False,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,10828
2,275972,Anonymous,False,UX/UI Design Bootcamp,4.0,5.0,4.0,3.0,10828
3,275872,Ahmad Khalaf,False,UX/UI Design Bootcamp,4.0,4.0,4.0,4.0,10828
4,275855,Morgane Favchtein,False,UX/UI Design Bootcamp,4.3,5.0,4.0,4.0,10828
...,...,...,...,...,...,...,...,...,...
5485,238594,Tiago Gomes,True,"1 Week React, Redux & GraphQL Bootcamp",5.0,5.0,5.0,5.0,10972
5486,245212,Peter McCarthy,True,"Part time React, Redux and GraphQL",5.0,5.0,5.0,0.0,10972
5487,245192,Polly S,True,"1 Week React, Redux & GraphQL Bootcamp",4.7,5.0,4.0,5.0,10972
5488,238091,Francisco Gomes,True,"1 Week React, Redux & GraphQL Bootcamp",5.0,5.0,5.0,5.0,10972
5489,238051,Anonymous,True,0,5.0,5.0,5.0,5.0,10972

    location_id      country         city  school_id
0         15901      Germany       Berlin      10828
1         16022       Mexico  Mexico City      10828
2         16086  Netherlands    Amsterdam      10828
3         16088       Brazil    Sao Paulo      10828
4         16109       France        Paris      10828
..          ...          ...          ...        ...
1         16749     Portugal       Lisbon      10972
2         17023  Netherlands    Amsterdam      10972
3         17242       Online       Online      10972
4         17251      Germany       Berlin      10972
5         17252        Spain    Barcelona      10972

[80 rows x 4 columns]

In [51]:
#################CREATING A CONNECTION TO THE DATABASE#####################
import pymysql
import getpass
import mysql.connector
from sqlalchemy import create_engine

# Connect to the database

host="database-1.cesj3b2ko52z.us-east-2.rds.amazonaws.com"
port=3306
dbname="project"
user="root"
password="12345678"


#engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
#                       .format(user="root",
#                               pw="1234",
#                               db="project"))

engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'
            .format(user, password,host, dbname)).connect()


# create cursor

In [52]:
clean_comments.to_sql('comments', con = engine,if_exists = 'replace')

In [53]:
clean_schools.to_sql('schools', con = engine,if_exists = 'replace')

In [54]:
clean_badges.to_sql('badges', con = engine,if_exists = 'replace')

In [55]:
clean_badges_schools.to_sql('school_badges_id', con = engine,if_exists = 'replace')

In [56]:
clean_locations.to_sql('locations', con = engine,if_exists = 'replace')

In [73]:
query = pd.read_sql_query("""SELECT AVG(ct.overallScore) AS overallScore, sc.name, ct.schools_id
FROM comments ct
JOIN schools sc
ON ct.schools_id = sc.schools_id
GROUP BY ct.schools_id
ORDER BY overallScore DESC;""", engine)

In [74]:
overall_score = query

In [68]:
total_reviews

   Total_reviews                   name
0           1979               le-wagon
1           1054            app-academy
2           1045               ironhack
3            923            springboard
4            159             la-capsule
5            117                  metis
6             97     academia-de-codigo
7             82    practicum-by-yandex
8             34  react-graphql-academy

In [75]:
overall_score

   overallScore                   name  schools_id
0      4.987421             la-capsule       10853
1      4.960825     academia-de-codigo       10494
2      4.927792               le-wagon       10868
3      4.821368                  metis       10886
4      4.801914               ironhack       10828
5      4.764706  react-graphql-academy       10972
6      4.728049    practicum-by-yandex       11225
7      4.586433            app-academy       10525
8      4.564139            springboard       11035

In [77]:
labels = ["Very Low", "Low", "Moderate", "High", "Very High"]

qbins = pd.qcut(overall_score['overallScore'],5, labels=labels)

In [78]:
overall_score['qcut'] = qbins

In [79]:
overall_score = overall_score[['overallScore','name','qcut']]

In [80]:
overall_score

   overallScore                   name       qcut
0      4.987421             la-capsule  Very High
1      4.960825     academia-de-codigo  Very High
2      4.927792               le-wagon       High
3      4.821368                  metis       High
4      4.801914               ironhack   Moderate
5      4.764706  react-graphql-academy        Low
6      4.728049    practicum-by-yandex        Low
7      4.586433            app-academy   Very Low
8      4.564139            springboard   Very Low