# SQL Project
You were hired by Ironhack to perform an Analytics Consulting Project entitled: competitive landscape.

Your mission is to create and populate an appropriate database with many coding schools that are our competition, as well as design an suitable queries that answer business questions of interest (to be defined by you)

**Suggested Steps in the Project:**


*   Read this notebook and understand each function. Comment the code appropriately

*   Populate the list of schools with a wider variety of schools (how are you going to get the school ID?)

* Take a look at the obtained dataframes. What dimensions do you have? what keys do you have? how could the different dataframes be connected?

* Go back to the drawing board and try to create an entity relationship diagram for tables available

* Once you have the schemas you want, you will need to:
  - create the suitable SQL queries to create the tables and populate them
  - run these queries using the appropriate Python connectors
  
* Bonus: How will this datamodel be updated in the future? Please write auxiliary functions that test the database for data quality issues. For example: how could you make sure you only include the most recent comments when you re-run the script?


# Suggested Deliverables

* 5-6 minute presentation of data model created, decision process and business analysis proposed

* exported .sql file with the final schema

* Supporting python files used to generate all logic

* High level documentation explaining tables designed and focusing on update methods

Crucial hint: check out the following tutorial:
https://www.dataquest.io/blog/sql-insert-tutorial/

In [1]:
# you must populate this dict with the schools required -> try talking to the teaching team about this


schools = {   
'ironhack' : 10828,
'app-academy' : 10525,
'springboard' : 11035    
}

import re
import pandas as pd
from pandas.io.json import json_normalize
import requests



def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [ ]:
get_comments_(ironhack)

In [ ]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
springboard

In [ ]:
comments

         id  ...       school
0    276568  ...     ironhack
1    276147  ...     ironhack
2    275972  ...     ironhack
3    275872  ...     ironhack
4    275855  ...     ironhack
..      ...  ...          ...
916  234894  ...  springboard
917  234877  ...  springboard
918  234838  ...  springboard
919  242681  ...  springboard
920  234178  ...  springboard

[3018 rows x 21 columns]

In [ ]:
from pandas.io.json import json_normalize

def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

app-academy
springboard

In [ ]:
locations_list

[      id               description  ...    school school_id
 0  15901           Berlin, Germany  ...  ironhack     10828
 1  16022       Mexico City, Mexico  ...  ironhack     10828
 2  16086    Amsterdam, Netherlands  ...  ironhack     10828
 3  16088         Sao Paulo, Brazil  ...  ironhack     10828
 4  16109             Paris, France  ...  ironhack     10828
 5  16375  Miami, FL, United States  ...  ironhack     10828
 6  16376             Madrid, Spain  ...  ironhack     10828
 7  16377          Barcelona, Spain  ...  ironhack     10828
 8  16709          Lisbon, Portugal  ...  ironhack     10828
 9  17233                    Online  ...  ironhack     10828

 [10 rows x 14 columns],
       id                       description  ...       school school_id
 0  15704  San Francisco, CA, United States  ...  app-academy     10525
 1  15705  New York City, NY, United States  ...  app-academy     10525
 2  15862                            Online  ...  app-academy     10525

 [3 rows x 14 columns],
       id description  state.id  ... state.keyword       school school_id
 0  16013      Online         1  ...        online  springboard     11035

 [1 rows x 8 columns]]

In [ ]:
locations = pd.concat(locations_list)
locations

      id                       description  ...       school school_id
0  15901                   Berlin, Germany  ...     ironhack     10828
1  16022               Mexico City, Mexico  ...     ironhack     10828
2  16086            Amsterdam, Netherlands  ...     ironhack     10828
3  16088                 Sao Paulo, Brazil  ...     ironhack     10828
4  16109                     Paris, France  ...     ironhack     10828
5  16375          Miami, FL, United States  ...     ironhack     10828
6  16376                     Madrid, Spain  ...     ironhack     10828
7  16377                  Barcelona, Spain  ...     ironhack     10828
8  16709                  Lisbon, Portugal  ...     ironhack     10828
9  17233                            Online  ...     ironhack     10828
0  15704  San Francisco, CA, United States  ...  app-academy     10525
1  15705  New York City, NY, United States  ...  app-academy     10525
2  15862                            Online  ...  app-academy     10525
0  16013                            Online  ...  springboard     11035

[14 rows x 14 columns]

In [ ]:
courses = pd.concat(courses_list)
courses.head(10)

                              courses       school  school_id
0             Cyber Security Bootcamp     ironhack      10828
1             Cybersecurity Part-Time     ironhack      10828
2             Data Analytics Bootcamp     ironhack      10828
3            Data Analytics Part-Time     ironhack      10828
4               UX/UI Design Bootcamp     ironhack      10828
5              UX/UI Design Part-Time     ironhack      10828
6            Web Development Bootcamp     ironhack      10828
7           Web Development Part-Time     ironhack      10828
0                       Bootcamp Prep  app-academy      10525
1  Software Engineer Track: In-Person  app-academy      10525

In [ ]:
badges = pd.concat(badges_list)
badges.head()

                name            keyword  ...       school school_id
0   Available Online   available_online  ...     ironhack     10828
1  Verified Outcomes  verified_outcomes  ...     ironhack     10828
2   Flexible Classes   flexible_classes  ...     ironhack     10828
0   Available Online   available_online  ...  app-academy     10525
1   Flexible Classes   flexible_classes  ...  app-academy     10525

[5 rows x 5 columns]

In [ ]:
# any data cleaning still missing here? take a look at the description
schools = pd.concat(schools_list)
schools.head()

                                             website  ... school_id
0                                www.ironhack.com/en  ...     10828
0                                      appacademy.io  ...     10525
0  www.springboard.com/?utm_source=switchup&utm_m...  ...     11035

[3 rows x 5 columns]